################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/packages
/.vs/Recycle/v15/Server/sqlite3
/Recycle/bin
/Recycle/obj/Debug
