@{
    ViewBag.Title = "Contact Iowa DNR";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Scott Flagg<br />
    Environmental Specialist Senior<br />
    P 515-725-8318 | F 515-725-8201 <br />
    502 E. 9th St., Des Moines, IA 50319<br />
    <a href="mailto:scott.flagg@dnr.iowa.gov">scott.flagg@dnr.iowa.gov</a><br />
    <a href="https://www.iowadnr.gov" , target="_blank">Iowa DNR</a>

</address>

